/* untuk dekstop */
@media(max-width: 1920px){
	.container {
		max-width: 1920px;
		margin: 0 auto;
	}

	.bagian-atas h1 {
		font-size: 170px;
	}
	
	.bagian-atas h2 {
		font-size: 90px;
	}
	
	.bagian-atas h2 {
		font-size: 90px;
	}

	.bagian-proyek .list-gambar .item img{
		width: 250px;
	}

	.form input,textarea {
		width: 90%;
		height: 70px;
	}

	.foot-right {
		margin-right: 5%;
	}
}


/* untuk smartphone */
@media(max-width: 670px){
	body {
		width: 120%;
		margin: 0 auto;
	}
	.container .bagian-atas {
		width: 100%;
		margin: 0 auto;
	}
	.bagian-atas h1 {
		font-size: 500%;
	}
	
	.bagian-atas h2 {
		font-size: 250%;
	}

	.bagian-tentang-saya {
		margin: 0 auto;
	}

	.bagian-proyek .list-gambar .item {
		width: 20%;
		margin: 0 30px;
	}

	.form input,textarea {
		width: 90%;
	}
	
	.bagian-proyek .list-gambar .item img{
		width: 170%;
	}

	.foot-right {
		margin-right: 10%;
	}
}

/* untuk mini smartphone */
@media(max-width: 300px) {
	body {
		width: 215%;
		margin: 0 auto;
	}
}